<header class="">
  <nav class="container relative flex items-center justify-between py-4 shadow-sm lg:py-0">
    <div class="flex items-center gap-3 sm:gap-6 lg:gap-16">
      <!-- drawer -->
      <lbk-drawer class="inline-block lg:hidden" (closed)="closeDrawer()" (opened)="openDrawer()"
        [open]="(openDrawer$ | async)!"></lbk-drawer>
      <!-- end drawer -->

      <!-- logo -->
      <a class="" routerLink="/">
        <img class="inline-block" src="/assets/images/logo.svg" alt="Logo" />
      </a>
      <!-- end logo -->

      <!-- links desktop -->
      <ul class="links-desktop">
        <li><a routerLink="/">Collections</a></li>
        <li><a routerLink="/">Men</a></li>
        <li><a routerLink="/">Women</a></li>
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/">Contact</a></li>
      </ul>
      <!-- end links desktop -->
    </div>

    <div class="flex items-center gap-4 md:gap-8">
      <!-- cart -->
      <lbk-cart (click)="toggleCartPopup()" [cart]="(cart$ | async)!" class="block"></lbk-cart>
      <!-- end cart -->

      <!-- profile -->
      <lbk-profile class="block"></lbk-profile>
      <!-- end profile -->
    </div>

    <!-- cart popup-->
    <lbk-cart-popup @slideInTop *ngIf="openCartPopup$ | async" (delete)="reduceQuantity($event)"
      class="z-40 absolute block pl-6 w-full right-3 top-[calc(100%+10px)] sm:pl-0 sm:w-auto  sm:min-w-[324px] sm:px-0 sm:right-10 lg:top-full" [cart]="(cart$ | async)!">
    </lbk-cart-popup>
    <!-- end cart popup-->
  </nav>
</header>
