<div class="relative h-full">
  <div class="relative h-full overflow-hidden {{rounded ? 'rounded-2xl': ''}}">
    <!-- slide -->

    <div #slide [style]="translate(slide)" (transitionend)="onTransitionEnd(slide)" class="flex h-full">
      <ng-container *ngFor="let image of productImages; index as i">
        <img [style]="imageWidth(slide)" class="object-center h-full" [src]="image.src" alt="Product" />
      </ng-container>
    </div>
    <!-- end slide -->

  </div>


  <!-- previous -->
  <lbk-arrow-button *ngIf="navigation" class="absolute {{previousPosition }} -translate-y-1/2 top-1/2 scale-effect"
    name="left" (click)="previous(slide)">
  </lbk-arrow-button>
  <!-- end previous -->

  <!-- next -->
  <lbk-arrow-button *ngIf="navigation" class="absolute right-0 {{nextPosition}} -translate-y-1/2 top-1/2 scale-effect"
    (click)="next(slide)" name="right">
  </lbk-arrow-button>
  <!-- end next -->
</div>
